<!-- BEGIN announcments_compact_row -->

<!-- IF announcments_compact_row.S_NO_TOPICS -->
<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th colspan="2">{L_NO_NEWS}</td>
</tr>-->  
  <tr>
    <td class="row1" valign="top" align="center"><span class="gensmall"><strong>{L_NO_NEWS}</strong></span></td>
  </tr>
</table>
<br clear="all" />
<!-- ELSE -->	

<table class="tablebg" cellspacing="1" width="100%">
  <!--<tr>
	<th colspan="2">{L_NEWS}</td>
</tr>-->
  <tr>
    <td class="cat" valign="top" style="text-transform: capitalize;">
      <div class="leftside" style="float: left;">
	  	<h4><a name="announce={announcments_compact_row.ANNOUNCE_ID}"></a><!-- IF announcments_compact_row.S_UNREAD_INFO -->{NEWEST_POST_IMG}<!-- ELSE -->{READ_POST_IMG}<!-- ENDIF --> {announcments_compact_row.ATTACH_ICON_IMG}<!-- IF announcments_compact_row.S_POLL --> <strong>{L_POLL}: </strong><!-- ENDIF -->
        <img src="{T_THEME_PATH}/images/arrow_right.gif" /> 
        <a href="{announcments_compact_row.U_VIEW_COMMENTS}" title="{announcments_compact_row.TITLE}"><strong>{announcments_compact_row.TITLE}</strong></a>      
        <img src="{T_THEME_PATH}/images/arrow_left.gif" /></h4> </div>       
      <div class="rightside" style="float: right;">
        <a href="#" onclick="return doCollapseExpand('announcments_compact_row{announcments_compact_row.ANNOUNCE_ID}','btn-announcments_compact_row{announcments_compact_row.ANNOUNCE_ID}')"> 
        <img src="{T_THEME_PATH}/images/arrow_user_down.gif" alt="{L_INFORMATION}" title="{L_INFORMATION}" height="12" width="12" name="btn-announcments_compact_row{announcments_compact_row.ANNOUNCE_ID}" /></a>&nbsp;
      </div>
    </td>
  </tr>
  <tr>
    <td class="row1" valign="top">
      <div class="leftside" style="float: left;"> <span class="gensmall">{L_POSTED_BY}: {announcments_compact_row.IMG_POSTER_ICON}&nbsp;<strong><a href="{announcments_compact_row.U_USER_PROFILE}">{announcments_compact_row.POSTER}</a></strong>
	  <!-- IF announcments_compact_row.FORUM_NAME --><br />{L_FORUM}: <strong><a href="{announcments_compact_row.U_VIEWFORUM}">{announcments_compact_row.FORUM_NAME}</a></strong><!-- ELSE -->	 &nbsp;&bull;&nbsp; {L_IMPORTANT_NEWS}<!-- ENDIF --></span> </div>
      <div class="rightside" style="float: right;"> <span class="gensmall"><a href="{announcments_compact_row.U_LAST_COMMENTS}" title="{L_VIEW_COMMENTS}">{announcments_compact_row.MINI_POST_IMG}</a>{announcments_compact_row.TIME}</span> </div>
    </td>
  </tr>
  <tr id="announcments_compact_row{announcments_compact_row.ANNOUNCE_ID}" style="margin: 10px 5px 10px 5px; display: none;">
          <td class="row2" align="left" valign="top" width="100%" class="genmed">
          
          <div class="postbody-block">{announcments_compact_row.TEXT}</div>
          
          <!-- IF announcments_compact_row.S_HAS_ATTACHMENTS -->
          <br style="clear: both" />
              <div class="attachcontent"><div class="attachtitle">{L_ATTACHMENTS}:</div>
              <!-- BEGIN attachment -->
              <div class="attachcontent">{announcments_compact_row.attachment.DISPLAY_ATTACHMENT}</div>
              <!-- END attachment -->
              </div>
          <!-- ENDIF -->
          <!-- IF announcments_compact_row.S_DISPLAY_NOTICE --><div class="gensmall error">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
          <br style="clear: both" />

          </td>
  </tr>
  <tr>
    <td class="row1" valign="top">
      <div class="rightside" style="float: right;"> <span class="gensmall"><a href="#top" title="{L_BACK_TO_TOP}"><img src="{T_THEME_PATH}/images/top.gif" width="10" height="10" alt="{L_BACK_TO_TOP}" /></a></span> </div>
      <div class="leftside" style="float: left;"> <span class="pagination">{announcments_compact_row.OPEN}<a href="{announcments_compact_row.U_READ_FULL}" title="{announcments_compact_row.L_READ_FULL}">{announcments_compact_row.L_READ_FULL}</a>{announcments_compact_row.CLOSE} &nbsp;<a href="{announcments_compact_row.U_LAST_COMMENTS}" title="{L_VIEW_COMMENTS}">{L_COMMENTS}: {announcments_compact_row.REPLIES}</a> &nbsp;&bull;&nbsp; <a href="{announcments_compact_row.U_POST_COMMENT}" title="{L_POST_REPLY}">{L_POST_REPLY}</a> &nbsp;&bull;&nbsp; {L_TOPIC_VIEWS}: {announcments_compact_row.TOPIC_VIEWS}</span> </div>
    </td>
  </tr>
</table>

<!-- ENDIF -->
<!-- IF announcments_compact_row.S_NOT_LAST --><br /><!-- ENDIF -->
<!-- END announcments_compact_row -->
