<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th colspan="2">{L_LATEST_MEMBERS}</td>
</tr>-->
<tr>
	<td class="cat" align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_USERNAME}</strong></span></td>
	<td class="cat" align="right" nowrap="nowrap"><span class="gensmall"><strong>{L_JOINED}</strong></span></td>
</tr>
<!-- BEGIN latest_members -->
<tr>
	<td class="<!-- IF latest_members.S_ROW_COUNT is even -->row2 gensmall<!-- ELSE -->row1 gensmall<!-- ENDIF -->" align="left" valign="middle"><img src="portal/images/member.gif" /> <strong><a href="{latest_members.U_USERNAME}"><span<!-- IF latest_members.USERNAME_COLOR -->{latest_members.USERNAME_COLOR}<!-- ENDIF -->>{latest_members.USERNAME}</span></a></strong><br /></td>
	<td class="<!-- IF latest_members.S_ROW_COUNT is even -->row2 gensmall<!-- ELSE -->row1 gensmall<!-- ENDIF -->" align="right" nowrap="nowrap" valign="middle">{latest_members.JOINED}</td>
</tr>
<!-- END latest_members -->
</table>
