<table class="tablebg" cellspacing="1" width="100%">
  <!--  <tr>
    <th colspan="1">{L_LINKS}</th>
  </tr>-->
  <!-- BEGIN portal_links_row -->
  <tr>
    <td class="<!-- IF portal_links_row.S_ROW_COUNT is even -->row1 gensmall<!-- ELSE -->row2 gensmall<!-- ENDIF -->"><span>{portal_links_row.PORTAL_LINKS_ICON}&nbsp;<a href="{portal_links_row.U_PORTAL_LINKS_LINK}" target="_blank" title="{portal_links_row.PORTAL_LINKS_NAME}">{portal_links_row.PORTAL_LINKS_NAME}</a></span></td>
  </tr>
  <!-- END portal_links_row -->
</table>
