<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_WEATHER}</td>
</tr>-->  
  <tr>
    <td class="row1 gensmall" align="center" valign="middle">{WEATHER_ALTERNATE_URL}</td>
  </tr>
  <tr>
    <td class="row1 gensmall" align="center" valign="middle">{WEATHER_ALTERNATE_URL1}</td>
  </tr>
  <tr>
    <td class="row1 gensmall" align="center" valign="middle">{WEATHER_ALTERNATE_URL2}</td>
  </tr>
  <tr>
    <td class="row1 gensmall" align="center" valign="middle">
		<!-- IF S_DISPLAY_WEATHER_GER -->
				<dd><a href="http://www.wetter.com/home/extern/ex_search.php?ms=1&ss=1&sss=2&search={LOCATION_ZIP}"><img src="http://www.wetter.com/home/woys/woys.php?,C,1,DEPLZ,{LOCATION_ZIP}" border="0" alt="" /></a></dd>
				<dd><a href="http://www.wetter.com/home/extern/ex_search.php?ms=1&ss=1&sss=2&search={LOCATION_ZIP}"><img src="http://www.wetter.com/home/woys/woys.php?,F,1,DEPLZ,{LOCATION_ZIP}" border="0" alt="" /></a></dd>
		<!-- ENDIF -->    
    </td>
  </tr>
</table>
