<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_WHO_IS_ONLINE}</td>
</tr>-->
 <tr>
   <td class="row1">
   		<table width="110" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<span style="float:left;">{L_WIO_TOTAL}:</span><span style="float:right;">{TOTAL_ONLINE_USERS}</span><br /><hr />
				<span style="float:left;">{L_WIO_REGISTERED}:</span><span style="float:right;">{VISIBLE_ONLINE}</span><br />
				<span style="float:left;">{L_WIO_HIDDEN}:</span><span style="float:right;">{HIDDEN_ONLINE}</span><br />
				<span style="float:left;">{L_WIO_GUEST}:</span><span style="float:right;">{GUEST_ONLINE}</span><br />
			</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="row1">{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}</td>
</tr>
<tr>
	<td class="row1">&nbsp;</td>
</tr>
<!-- IF LEGEND -->
	<tr>
		<td class="row1">{L_LEGEND}: {LEGEND}</td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1">&nbsp;</td>
</tr>
  <tr>
    <td class="row1">{L_LAST_VISIT}:<br />{LAST_VISIT}</td>
  </tr>
  <tr>
    <td class="row1">&nbsp;</td>
  </tr>
</table>
