<table class="tablebg" cellspacing="1" width="100%">
<tr>
    <td class="cat" align="center"><h6>{L_ARCADE_GAME}</h6></td>
    <td class="cat" align="center"><h6>{L_ARCADE_JACKPOT}</h6></td>
</tr>
<!-- BEGIN game_jackpot_no -->
<tr>
    <td class="row1" align="center" colspan="2">
    	<span>{game_jackpot_no.LOGIN_VIEWARCADE}</span>
    </td>
</tr>
<!-- END game_jackpot_no -->
<!-- BEGIN game_jackpot -->
<tr>
    <td class="row1" align="center" width="50%">
        <span><a href="{game_jackpot.U_GAME_PLAY}" title="{game_jackpot.GAME_NAME}"><img src="{game_jackpot.GAME_IMAGE}" alt="{game_jackpot.GAME_IMAGE_ALT}" width="20" height="20" style="vertical-align: middle;" /></a></span>
    </td>
    <td class="row1" colspan="2">
        <span style="margin-left: 25px;">{game_jackpot.GAME_JACKPOT}</span>
    </td>
</tr>
<!-- END game_jackpot -->	
<tr>
	<td class="row1" align="center" colspan="2"><a href="{U_ARCADE}" title="{L_ARCADE_EXPLAIN}">{L_ARCADE}</a></td>
</tr>
</table>
