<!-- IF S_UCATS -->
<!-- BEGIN maincat -->
<div>
		<h2>{maincat.TITLE}</h2>
		{maincat.DESCRIPTION}
		<table  class="tablebg" width="100%" cellspacing="1">
		<!-- BEGIN ucat -->
			<!-- IF maincat.ucat.S_ROW_COUNT is even --><tr><!-- ENDIF -->
			<td valign="top" style="width:50%;" class="row1">
			<h3><a href="{maincat.ucat.U_CATEGORIE}">{maincat.ucat.TITLE}</a></h3>
			<!-- BEGIN article -->
				<b><a href="{maincat.ucat.article.U_ARTICLE}">{maincat.ucat.article.TITLE}</a></b><br />
				{maincat.ucat.article.DESCRIPTION}<br /><br />
			<!-- END article -->
            <!-- IF maincat.ucat.SUB_CAT} --><br /><strong>{L_SUB_CATGEGORIES}: {maincat.ucat.SUB_CAT}</strong><!-- ENDIF -->
			<!-- IF maincat.ucat.S_MORE_LINK --><br />[ <a href="{maincat.ucat.U_CATEGORIE}">{maincat.ucat.READ_MORE}</a> ]<!-- ENDIF -->
			</td>
			<!-- IF maincat.ucat.S_ROW_COUNT is not even --></tr><!-- ENDIF -->
		<!-- END ucat -->
		</table>
</div> 
<br /><br />
<!-- END maincat -->
<!-- ENDIF -->

<div>
    <table class="tablebg" cellspacing="1" width="100%">
    <tr>
        <th>&nbsp;</td>
        <th>{L_LATEST_TOPICS}</td>
        <th>{L_VIEWED}</td>
        <th>{L_RELASED}</td>
    </tr>
    <!-- BEGIN article_row -->
    <tr class="<!-- IF article_row.S_ROW_COUNT is not even -->row1<!-- ELSE -->row2<!-- ENDIF -->">
        <td width="30" align="center" style="background-image: url({T_IMAGESET_PATH}/topic_read.gif); background-repeat: no-repeat;">&nbsp;</td>
        <td style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{article_row.U_ARTICLE}" class="topictitle">{article_row.TITLE}</a><br />{article_row.DESCRIPTION}</td>
        <td align="center">{article_row.HITS}</td>
        <td style="float: {S_CONTENT_FLOW_BEGIN};">{article_row.TIME}<br />{L_FROM} {article_row.AUTHOR_FULL}</td>
    </tr>
    <!-- END article_row -->
    </table>
</div>
<br /><br />
<p><a href="{U_KB}" class="left-box left" accesskey="r">{L_BACK_KB}</a></p>
<br />
