<!-- This includes the ImageFlow CSS and JavaScript -->
<link rel="stylesheet" href="{T_THEME_PATH}/ImageFlow/imageflow.css" type="text/css" />
<script type="text/javascript" src="{T_THEME_PATH}/ImageFlow/imageflow.js"></script>

<table class="tablebg" cellspacing="1" width="100%">
  <!-- BEGIN no_pics -->
  <tr>
    <td class="row1" align="center" colspan="{S_COLS}" height="50"><span class="gen">{L_NO_PICS}</span></td>
  </tr>
  <!-- END no_pics -->
  <tr>
    <td class="row1" width="100%">

<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
  <tr>
    <td align="center" style="border: 1px solid #CCC; padding: 5px; min-height: 1em; -moz-border-radius: 5px; -webkit-border-radius: 5px;" class="bg1">
    
      <div id="cpg_imageflow" class="imageflow"> 
  <!-- BEGIN center_gallery_image_flow -->
          <img src="{center_gallery_image_flow.THUMBNAIL}" longdesc="{center_gallery_image_flow.U_PIC}" alt="{center_gallery_image_flow.TITLE}" />
  <!-- END center_gallery_image_flow -->
      </div>
      
      </td>
  </tr>
</table>

      </td>
  </tr>
  <tr>
	<td colspan="{S_COLS}" class="cat" align="center"><span class="gensmall">[ <a href="{U_GALLERY_MOD}" title="{L_GALLERY}" target="_self">{L_GALLERY}</a> ]</span></td>
  </tr>
</table>


