<b class="attach1_top"></b><b class="attach2_top"></b><b class="attach3_top"></b><b class="attach4_top"></b>
	<div class="attach_head">&nbsp;</div>
<div class="attach_box">
    <div>
    
<a name="attachpage"></a><a name="att={attach.ATTACH_ID}"></a>    
<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th colspan="2">{L_ATTACHMENTS}</td>
</tr>-->  
  <tr>
    <td align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_FILENAME}</strong></span></td>
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_DATE}</strong></span></td>
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_FILESIZE}</strong></span></td>
    <td align="center" nowrap="nowrap"><span class="gensmall"><strong>{L_TOP_COUNT}</strong></span></td>
  </tr>
  <!-- BEGIN attach -->
  <!-- IF attach.S_ROW_COUNT is even -->
  <tr class="row2">
    <!-- ELSE -->
  <tr class="row1">
    <!-- ENDIF -->
    <td align="left" valign="middle"><a href="{attach.U_FILELINK}" target="_blank"><img src="portal/images/icon_topic_attach.gif" /></a> <a href="{attach.U_FILE}" target="_blank">{attach.REAL_FILENAME}</a></td>
    <td align="right" nowrap="nowrap" valign="middle">{attach.ATTACH_DATE}</td>
    <td align="right" nowrap="nowrap" valign="middle">{attach.FILESIZE}</td>
    <td align="right" nowrap="nowrap" valign="middle">{attach.ATTACH_COUNT}&nbsp;{L_TOP_X}</td>
    <!-- END attach -->
  </tr>
</table>
    
    </div>
</div>
<b class="attach4_bottom"></b><b class="attach3_bottom"></b><b class="attach2_bottom"></b><b class="attach1_top"></b>

<table width="100%" cellspacing="1">
   <tr>
	<th>&nbsp;</th>
  </tr>
  <tr>
	<td valign="bottom">
    
<!-- IF ATTACH_PAGE_NUMBER -->
<div class="pagination" style="margin: 0px 0px 5px 0px;">
{L_TOTAL_ATTACHMENTS} {ATTACH_TOTAL_ATTACHMENTS}
<!-- IF ATTACH_PAGINATION --> &bull; {ATTACH_PAGE_NUMBER} 
<p><span>{ATTACH_PAGINATION}</span><!-- ELSE --> &bull; {ATTACH_PAGE_NUMBER}<!-- ENDIF --></p>
</div>
<!-- ENDIF -->

    </td>
  </tr>
</table>