<table class="tablebg" cellspacing="1" width="100%">
  <!--<tr>
	<th style="text-align:left;">{L_DONATION}</td>
</tr>-->
  <tr>
    <td class="row1">
    
    	<table width="100%" cellspacing="5" cellpadding="0" border="0">
        <tr>
          <td width="50%"><span class="gensmall"><strong>{SITENAME}</strong> {L_DONATION_TEXT}<br /><br />{L_PAY_MSG}<br /></span></td>
          <td width="50%" align="center">
          
<!-- reference and all paypal codes
https://www.paypal.com/cgi-bin/webscr?cmd=p/pdn/howto_checkout-outside 
https://www.paypal.com/cgi-bin/webscr?cmd=p/sell/mc/mc_wa-outside
//-->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <span class="gensmall">{L_CURRENCY_MSG}</span> 
            <p align="center" class="gensmall">
              <input type="hidden" name="cmd" value="_xclick">
              <input type="hidden" name="business" value="{PAY_ACC}">
              <input type="hidden" name="item_name" value="{L_PAY_ITEM}">
              <input type="hidden" name="amount" value="10.00">
              <input type="hidden" name="image_url" value="">
              <input type="hidden" name="no_shipping" value="2">
              <input type="hidden" name="bn" value="PP-Donations" />
              <input type="hidden" name="no_note" value="1">
              <input type="hidden" name="tax" value="0">
              
              <select name="currency_code">
                <option value="GBP">{L_PAYPAL_CURRENCY_GBP}</option>
                <option value="USD">{L_PAYPAL_CURRENCY_USD}</option>
                <option value="EUR" selected="selected">{L_PAYPAL_CURRENCY_EUR}</option>
                <option value="AUD">{L_PAYPAL_CURRENCY_AUD}</option>
                <option value="CAD">{L_PAYPAL_CURRENCY_CAD}</option>
                <option value="CZK">{L_PAYPAL_CURRENCY_CZK}</option>
                <option value="DKK">{L_PAYPAL_CURRENCY_DKK}</option>
                <option value="HKD">{L_PAYPAL_CURRENCY_HKD}</option>
                <option value="HUF">{L_PAYPAL_CURRENCY_HUF}</option>
                <option value="NZD">{L_PAYPAL_CURRENCY_NZD}</option>
                <option value="NOK">{L_PAYPAL_CURRENCY_NOK}</option>
                <option value="PLN">{L_PAYPAL_CURRENCY_PLN}</option>
                <option value="SGD">{L_PAYPAL_CURRENCY_SGD}</option>
                <option value="SEK">{L_PAYPAL_CURRENCY_SEK}</option>
                <option value="CHF">{L_PAYPAL_CURRENCY_CHF}</option>
                <option value="JPY">{L_PAYPAL_CURRENCY_JPY}</option>
              </select>
            </p>
            <span class="gensmall">{L_AMOUNT_MSG}</span> 
            <p align="center" class="gensmall">
                <select name="amount">
                  <option value="5.00">5.00</option>
                  <option value="10.00">10.00</option>
                  <option value="15.00">15.00</option>
                  <option value="20.00">20.00</option>
                  <option value="25.00">25.00</option>
                  <option value="30.00">30.00</option>
                  <option value="35.00">35.00</option>
                  <option value="40.00">40.00</option>
                  <option value="45.00">45.00</option>
                  <option value="50.00">50.00</option>
                  <option value="75.00">75.00</option>
                  <option value="100.00">100.00</option>
                  <option value="200.00">200.00</option>
                  <option value="300.00">300.00</option>
                  <option value="400.00">400.00</option>
                  <option value="500.00">500.00</option>
                  <option value="750.00">750.00</option>
                  <option value="1000.00">1000.00</option>
                </select>
                </p>
                <br />
                <input type="image" src="portal/images/paypal.gif" title="{L_CLICK_MSG}" style="border: 0px; background-color: transparent; padding-top: 6px;" />
              </center>
        </form>
        
          </td>
        </tr>
      </table>
      
    </td>
  </tr>
</table>
