<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_CLOCK}</td>
</tr>-->
<tr>
	<td class="row1" valign="top" align="center">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="130" height="130">
			<param name="wmode" value="transparent">
			<param name="quality" value="high" />
			<param name="movie" value="{ROOT_PATH}portal/images/clocks/clock_atom.swf" />
			<embed src="{ROOT_PATH}portal/images/clocks/clock_atom.swf" width="130" height="130" quality="high" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
			</embed>
		</object>
	</td>
</tr>
</table>
