<table class="tablebg" cellspacing="1" width="100%">
<!--  <tr>
    <th colspan="1">{L_PHP_INFO_EXPLAIN}</th>
  </tr>-->
  <tr>
    <td class="row1"><span class="gensmall"> {L_OS_INFO}: <strong>{OS_INFO}</strong><br>
      {L_WEBSERVER_INFO}: <strong>{WEBSERVER_INFO}</strong><br>
      {L_PHP_INFO}: <strong>{PHP_INFO}</strong><br>
      {L_DATABASE_SERVER_INFO}: <strong>{DATABASE_INFO}</strong><br>
      {L_GZIP_COMPRESSION}: <strong>{GZIP_COMPRESSION}</strong><br>
      </span> </td>
  </tr>
</table>
