<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_WELCOME}</td>
</tr>-->  
<tr class="row1">
    <td valign="top">
     <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
     <!-- IF S_DISPLAY_WELCOME -->
		  	<div align="center">{PORTAL_WELCOME_INTRO}</div>
      <!-- ENDIF -->
      <!-- ENDIF -->
      <!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
      <!-- IF S_DISPLAY_WELCOME_BACK -->
			<div align="center">{PORTAL_WELCOME_BACK}</div>		  
      <!-- ENDIF -->
      <!-- ENDIF -->
    </td>
  </tr>
</table>
