<div class="rules">
        <div class="inner"><span class="corners-top"><span></span></span>
            <strong>{L_TOPLIST_INFORMATION}</strong><br />
            <!-- IF TOPLIST_CUSTOM_HELP -->
                {TOPLIST_CUSTOM_HELP_LANG}
            <!-- ELSE -->
                {L_TOPLIST_HELP_INTRO}
                {L_TOPLIST_HELP_DESC_START}<!-- IF HITS_IN_ENABLED -->{L_TOPLIST_HELP_DESC_HITS_FROM_SITES}<!-- ENDIF --><!-- IF HITS_OUT_ENABLED -->{L_TOPLIST_HELP_DESC_HITS_TO_SITES}<!-- ENDIF --><!-- IF HITS_IMG_ENABLED -->{L_TOPLIST_HELP_DESC_IMAGE_SHOWS}<!-- ENDIF --><!-- IF RATING_ENABLED -->{L_TOPLIST_HELP_DESC_RATING}<!-- ENDIF -->{L_TOPLIST_HELP_DESC_END}
                {L_TOPLIST_HELP_LNKEXCH_START}<!-- IF TOPLIST_CODECHECK -->{L_TOPLIST_HELP_LNKEXCH_CODECHECK}<!-- ELSE --><!-- ENDIF -->{L_TOPLIST_HELP_LNKEXCH_END}
                <!-- IF COMMENTS_ENABLED -->
                {L_TOPLIST_HELP_COMMENTS}
                <!-- ENDIF -->
            <!-- ENDIF -->
        <span class="corners-bottom"><span></span></span></div>
</div>