<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_GOOGLE_ADDS}</td>
</tr>-->
  <tr>
    <td align="center" class="row1">
	
<!-- IF not S_HIDE_ADS -->
    <script type="text/javascript">
	<!--
	google_ad_client = "";			// enter your client (publication) ID
	google_alternate_ad_url = "";	// enter your alternate ad URL (if any)
	google_ad_width = 120;
	google_ad_height = 240;
	google_ad_format = "120x240_as";
	google_ad_type = "text_image";
	google_ad_channel = "";			// enter your channel ID (if any)
	<!-- IF SCRIPT_NAME eq "viewtopic" -->
	google_color_border = "CADCEB";
	google_color_bg = "CADCEB";
	<!-- ELSE -->
	google_color_border = "12A3EB";
	google_color_bg = "E1EBF2";
	<!-- ENDIF -->
	google_color_link = "105289";
	google_color_text = "333333";
	google_color_url = "DC2A4D";
    //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
<!-- ENDIF -->

    </td>
  </tr>
</table>
