<!-- DEFINE $PORTALXL = 'portal_pages' -->
<!-- INCLUDE overall_header.html -->

<a name="pagetop"></a>
<table width="100%" cellspacing="1">
  <tr>
	<td valign="bottom">
    
<!-- IF PAGE_PAGES_NUMBER -->
<div class="pagination" style="margin: 0px 0px 5px 0px;">
{L_TOTAL_PAGE_PAGES} {PAGE_PAGES_TOTAL}
<!-- IF PAGE_PAGES_PAGINATION --> &bull; {PAGE_PAGES_NUMBER}<br style="clear: both" /> 
<span>{PAGE_PAGES_PAGINATION}</span><!-- ELSE --> &bull; {PAGE_PAGES_NUMBER}<!-- ENDIF -->
</div>
<!-- ENDIF -->

    </td>
  </tr>
</table>

<!-- BEGIN pagepage -->
<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
        <ul class="topiclist">
            <li class="header">
                <dl>
                    <dd style="width: 100%; text-align: center;">
                    {pagepage.PAGEPAGE_TITLE} <!-- IF pagepage.U_PRINT_PAGES -->~ <a href="{pagepage.U_PRINT_PAGES}" title="{L_PRINT_TOPIC}">{L_PRINT_TOPIC}</a><!-- ENDIF -->
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist forums">
        <li class="row">
            <dl>
                <dd style="width: 100%;">
    
                <table class="tablebg" cellspacing="1" width="100%" style="margin-bottom:5px;">
                <!-- <tr> 
                    <th><h3>{pagepage.PAGEPAGE_TITLE}</h3></th>
                 </tr>
                 -->  
                   <tr>
                    <td class="row1">
                      <div class="content">{pagepage.PAGEPAGE_CONTENT}</div>
                    </td>
                  </tr>
                </table>

                </dd>
            </dl>
        </li>
        </ul>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>
<!-- END pagepage -->

<!-- BEGIN switch_no_pages -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
    
    <table class="tablebg" cellspacing="1" width="100%" style="margin-bottom:5px;">
      <tr>
          <td class="row1" align="center" height="28"><span class="gen"><i>{L_NO_TOPICS}</i></span></td>
      </tr>
    </table>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END switch_no_pages -->

<table width="100%" cellspacing="1">
  <tr>
	<td valign="bottom">
    
<!-- IF PAGE_PAGES_NUMBER -->
<div class="pagination" style="margin: 0px 0px 5px 0px;">
{L_TOTAL_PAGE_PAGES} {PAGE_PAGES_TOTAL}
<!-- IF PAGE_PAGES_PAGINATION --> &bull; {PAGE_PAGES_NUMBER}<br style="clear: both" /> 
<span>{PAGE_PAGES_PAGINATION}</span><!-- ELSE --> &bull; {PAGE_PAGES_NUMBER}<!-- ENDIF -->
</div>
<!-- ENDIF -->

    </td>
  </tr>
</table>

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>	
<!-- INCLUDE overall_footer.html -->