<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th colspan="1">{L_FCATEGORIES}</td>
</tr>-->  
<tr>
<!-- BEGIN forumrow -->
	<!-- IF forumrow.S_IS_CAT -->
		<tr>
			<td class="cat" colspan="2"><h4><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h4></td>
			<td class="cat" colspan="3">&nbsp;</td>
		</tr>
	<!-- ELSEIF forumrow.S_IS_LINK -->
		<tr>
			<td class="row1" width="50" align="center"><img src="{forumrow.FORUM_FOLDER_IMG_SRC}" style="width:25px; height:25px; float:left; margin-top:2px;" ></td>
			<td class="row1">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;"><img src="{forumrow.FORUM_IMAGE_SRC}" style="width:25px; height:25px; float:left; margin-top:2px;" ></div>
                    <div style="float: {S_CONTENT_FLOW_BEGIN};">
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<!-- IF forumrow.FORUM_IMAGE --></div><!-- ENDIF -->
			</td>
			<!-- IF forumrow.CLICKS -->
				<td class="row2" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span></td>
			<!-- ELSE -->
				<td class="row2" colspan="3" align="center">&nbsp;</td>
			<!-- ENDIF -->
		</tr>
	<!-- ELSE -->
		<!-- IF forumrow.S_NO_CAT -->
			<tr>
				<td class="cat" colspan="2"><h4>{L_FORUM}</h4></td>
				<td class="cat" colspan="3">&nbsp;</td>
			</tr>
		<!-- ENDIF -->
		<tr>
			<td class="row1" width="50" align="center"><img src="{forumrow.FORUM_FOLDER_IMG_SRC}" style="width:25px; height:25px; float:left; margin-top:2px;" ></td>
			<td class="row1" width="100%">
				<!-- IF forumrow.FORUM_IMAGE -->
					<div style="float: {S_CONTENT_FLOW_BEGIN}; margin-{S_CONTENT_FLOW_END}: 5px;"><img src="{forumrow.FORUM_IMAGE_SRC}" style="width:25px; height:25px; float:left; margin-top:2px;" ></div>
                    <div style="float: {S_CONTENT_FLOW_BEGIN};">
				<!-- ENDIF -->
				<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<!-- IF forumrow.SUBFORUMS -->
				<strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}
				<!-- ENDIF -->
				<!-- IF forumrow.FORUM_IMAGE --></div><!-- ENDIF -->
			</td>
		</tr>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<tr>
		<td class="row1" colspan="5" align="center"><p class="gensmall">{L_NO_FORUMS}</p></td>
	</tr>
<!-- END forumrow -->
</table>
