<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_LINK_US}</td>
</tr>-->
  <tr>
    <td align="center" class="row1" style="padding:5px 5px 5px 5px;"> {LINK_US_TXT}<br />
      <br />
        <textarea type="text" tabindex="1" rows="10" cols="15" wrap="soft" class="inputbox autowidth" style="overflow:hidden; height:140px; font-size:11px; border: 1px solid #999; padding: 5px; min-height: 1em; -moz-border-radius: 5px; -webkit-border-radius: 5px;" onclick="this.focus();this.select();" />{U_LINK_US}</textarea>		
      <br />
    </td>
  </tr>
  <tr>
    <td align="center" class="row1">{U_LINK_US_BANNER}</td>
  </tr>
</table>
