<table class="tablebg" cellspacing="1" width="100%">
<!--  <tr>
    <th colspan="1">{L_SCROLL_MESSAGE}</th>
  </tr>-->
  <!-- BEGIN scrollmessage -->
  <tr class="row1">
    <td align="center" valign="top">
	<span style="font-size:{scrollmessage.SCROLL_MESSAGE_MARQUEE_FONTSIZE}px; color:{scrollmessage.SCROLL_MESSAGE_MARQUEE_FONTCOLOR};" >
	<marquee name="{scrollmessage.L_SCROLL_MESSAGE}" direction="{scrollmessage.SCROLL_MESSAGE_MARQUEE_DIRECTION}" scrolldelay="{scrollmessage.SCROLL_MESSAGE_MARQUEE_SCROLLDELAY}" scrollAmount="{scrollmessage.SCROLL_MESSAGE_MARQUEE_SPEED}" behavior="{scrollmessage.SCROLL_MESSAGE_MARQUEE_BEHAVIOR}" align="{scrollmessage.SCROLL_MESSAGE_MARQUEE_ALIGN}" bgcolor="{scrollmessage.SCROLL_MESSAGE_MARQUEE_BGCOLOR}" width="{scrollmessage.SCROLL_MESSAGE_MARQUEE_WIDTH}" hspace="{scrollmessage.SCROLL_MESSAGE_MARQUEE_HSPACE}" vspace="{scrollmessage.SCROLL_MESSAGE_MARQUEE_VSPACE}" loop="{scrollmessage.SCROLL_MESSAGE_MARQUEE_LOOP}">{scrollmessage.SCROLL_MESSAGE_TEXT}</marquee>
	</span>
    </td>
  </tr>
  <!-- END scrollmessage -->
</table>
