<table class="tablebg" cellspacing="1" width="100%">
<!--<tr>
	<th>{L_PORTAL_SYNDICATE}</td>
</tr>-->  
  <tr>
    <td class="row1" align="center">
  		<span><a href="{U_SYNDICATE_FORUM}" target="_blank"><img src="portal/images/rssforum.png" title="{L_RSS_FEED_FORUM}" alt="{L_RSS_FEED_FORUM}" width="90" height="15" border="0" /></a></span><br>
  		<span><a href="{U_SYNDICATE_FILES}" target="_blank"><img src="portal/images/rssfiles.png" title="{L_RSS_FEED_ATTACHMENTS}" alt="{L_RSS_FEED_ATTACHMENTS}" width="90" height="15" border="0" /></a></span>
    </td>
  </tr>
</table>
