	<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
	<tr>
		<td class="row1">
			<p class="breadcrumbs">
                <!-- IF PORTAL --><a class="icon-home" href="{U_PORTAL}" accesskey="h">{L_PORTAL}</a> <strong>&#8249;</strong><!-- ENDIF -->
                <!-- IF PORTAL_INDEX_PAGE --> <a href="{U_INDEX}" accesskey="h">{L_INDEX}</a><!-- ELSE -->
                <a href="{U_INDEX}" accesskey="h">{L_INDEX}</a><!-- ENDIF --> <!-- BEGIN navlinks --> <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks -->
            </p>
		</td>
	</tr>
	</table>